@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.gridmeBig {
  @apply grid gap-0;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

ion-icon {
  font-size: 25px;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #191917;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffd754;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
