@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.gridmeBig {
  @apply grid gap-0;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
html {
  scroll-behavior: smooth;
}
ion-icon {
  font-size: 25px;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #191917;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffd754;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.paddingY {
  @apply py-6 sm:py-16;
}

.paddingX {
  @apply px-2 sm:px-16;
}

.heading2 {
  @apply text-[30px] sm:text-[46px] font-luluCleanBold;
}

.circleBefore::before {
  @apply content-[""] absolute aspect-square bg-transparent border-primary border-[6px] sm:border-[10px] w-[100px] sm:w-[200px] opacity-50 rounded-full -z-[1] top-[-10px] sm:top-[-30px] right-[-50px] sm:right-[-110px];
  box-shadow: 0 0 10px #ffd754, inset 0 0 10px #ffd754;
}

.circle {
  @apply aspect-square border-primary border-[8px] sm:border-[10px] opacity-40 rounded-full;
  box-shadow: 0 0 10px #ffd754, inset 0 0 10px #ffd754;
}

.projects {
  @apply mt-28 paddingY grid gap-10 relative max-w-[2000px] mx-auto;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
.projects .project-item {
  @apply cursor-pointer relative;
}
.projects .project-item img {
  @apply max-h-full w-full;
}
/* 
.project-1,
.project-4,
.project-7,
.project-10,
.project-13,
.project-16,
.project-19,
.project-22,
.project-25,
.project-28,
.project-21,
.project-24,
.project-27,
.project-30 {
  grid-column: span 2;
  grid-row: span 2;
}

@media screen and (max-width: 767px) {
  .projects {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .secondProject-4 {
    grid-column: span 1 !important;
  }
  .project-1,
  .project-4,
  .project-7,
  .project-10,
  .project-13,
  .project-16,
  .project-19,
  .project-22,
  .project-25,
  .project-28,
  .project-21,
  .project-24,
  .project-27,
  .project-30 {
    grid-column: span 1;
    grid-row: span 1;
  }
  .project-item {
    grid-column: span 2;
  }
} */
.secondProjects {
  @apply grid gap-10 max-w-[2000px] mx-auto;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
body {
  @apply bg-secondary;
}
.secondProject-4 {
  grid-column: span 2;
}
.secondProject-4 img {
  @apply object-left;
}

@media screen and (max-width: 877px) {
  .secondProject-4 {
    grid-column: span 1;
  }
}

@media screen and (max-width: 640px) {
  .secondProjects {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}
.wave {
  clip-path: polygon(
    100% 100%,
    0% 100%,
    0% 44.08%,
    2% 46.16%,
    4% 48.29%,
    6% 50.45%,
    8% 52.62%,
    10% 54.81%,
    12% 56.99%,
    14% 59.16%,
    16% 61.29%,
    18% 63.38%,
    20% 65.42%,
    22% 67.4%,
    24% 69.3%,
    26% 71.11%,
    28% 72.83%,
    30% 74.43%,
    32% 75.93%,
    34% 77.29%,
    36% 78.53%,
    38% 79.62%,
    40% 80.57%,
    42% 81.37%,
    44% 82.02%,
    46% 82.5%,
    48% 82.82%,
    50% 82.98%,
    52% 82.98%,
    54% 82.81%,
    56% 82.47%,
    58% 81.97%,
    60% 81.32%,
    62% 80.51%,
    64% 79.55%,
    66% 78.44%,
    68% 77.2%,
    70% 75.82%,
    72% 74.32%,
    74% 72.7%,
    76% 70.98%,
    78% 69.16%,
    80% 67.26%,
    82% 65.28%,
    84% 63.23%,
    86% 61.13%,
    88% 59%,
    90% 56.83%,
    92% 54.65%,
    94% 52.46%,
    96% 50.29%,
    98% 48.13%,
    100% 46.01%
  );
}

.overlayMe::after {
  @apply bg-white h-full w-full left-0 top-0 absolute content-[""] rounded-full mix-blend-difference;
}

.scrollUp ion-icon {
  @apply transition-all duration-200 text-[60px] text-black;
}
.scrollUp:hover ion-icon {
  @apply text-gray-400;
}
