@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.gridmeBig {
  @apply grid gap-0;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

ion-icon {
  font-size: 25px;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #191917;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffd754;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.paddingY {
  @apply py-6 sm:py-16;
}

.paddingX {
  @apply px-2 sm:px-16;
}

.heading2 {
  @apply text-[30px] sm:text-[46px] font-luluCleanBold;
}

.circleBefore::before {
  @apply content-[""] absolute aspect-square bg-transparent border-primary border-[7px] sm:border-[10px] w-[150px] sm:w-[200px] opacity-50 rounded-full -z-[1] top-[-30px] right-[-110px];
  box-shadow: 0 0 10px #ffd754;
}

.projects {
  @apply mt-28 paddingY grid gap-10 relative max-w-[2000px] mx-auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.projects .project-item {
  @apply cursor-pointer relative;
  background-color: #eee;
}
.projects .project-item img {
  @apply h-full w-full;
}

.project-1,
.project-4,
.project-7,
.project-10,
.project-13,
.project-16,
.project-19,
.project-22,
.project-25,
.project-28,
.project-21,
.project-24,
.project-27,
.project-30 {
  grid-column: span 2;
  grid-row: span 2;
}

@media screen and (max-width: 767px) {
  .projects {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .project-1,
  .project-4,
  .project-7,
  .project-10,
  .project-13,
  .project-16,
  .project-19,
  .project-22,
  .project-25,
  .project-28,
  .project-21,
  .project-24,
  .project-27,
  .project-30 {
    grid-column: span 1;
    grid-row: span 1;
  }
  .project-item {
    grid-column: span 2;
  }
}
