@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.gridmeBig {
  @apply grid gap-0;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

ion-icon {
  font-size: 25px;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #191917;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffd754;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.paddingY {
  @apply py-6 sm:py-16;
}

.paddingX {
  @apply px-2 sm:px-16;
}

.heading2 {
  @apply text-[30px] sm:text-[46px] font-luluCleanBold;
}

.circleBefore::before {
  @apply content-[""] absolute aspect-square bg-transparent border-primary border-[7px] sm:border-[10px] w-[150px] sm:w-[200px] opacity-50 rounded-full -z-[1] top-[-30px] right-[-110px];
  box-shadow: 0 0 10px #ffd754;
}
